PORT=your_backend_port

DATABASE_URL=your_database_url
POSTGRES_HOST=your_postgres_host
POSTGRES_PORT=your_postgres_port
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db

REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
